<!-- Passed three parameters to dynamically create the "create" page for any object
Objects must have the DatabaseConnector module included and must have Foreign Keys stored as ForeignKey object, rather than an Integer, etc.

@foreign_key_fields   - An Array of the field names of parameters that are ForeignKeys
@foreign_key_choices  - An Array of Arrays.  The inner Array contains all possible objects for this foreign key.  
 @non_foreign_key_fields - An Array of the field names of non-foreign keys. 
-->

<div id="primary">
  
  <h3>Enter the variables of the <%= @class_name %>.</h3>
  <br>
  <!--Show error messages -->
  <div id="message"><%= get_list_html_for_errors(@m) %></div>

  <form action="/<%=params["class_name"]%>/submit">
    <input type= "hidden" name = create_form[id] value = "<%= @m.id %>">
  
    <!-- Show all non-foreign keys in an input field -->
    <%= get_list_html_for_non_foreign_key_fields_plus_special_date(@m, @date_array) %>

    <!--Show all foreign keys in a select field -->
    <%= get_list_html_for_foreign_key_fields(@m) %>
    <br>
    <input type = "submit" value = "Submit <%= params["class_name"].humanize.downcase %>" class ="submit_button">

  </form>
</div>